
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #5C6BC0;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.alert-button {
    background-color: #FFC107;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

.alert-button:hover {
    background-color: #FFB300;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #cc0000;
}

a {
    color: #5C6BC0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style pour la section de recherche par date */
.search-by-date {
    margin-top: 20px;
    text-align: center;
}

.search-by-date label {
    font-weight: bold;
}

#start-date, #end-date {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
}

button {
    background-color: #5C6BC0;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3949AB;
}

/* Style pour la section de recherche par nom */
.search-by-name {
    margin-top: 20px;
    text-align: center;
}

.search-by-name label {
    font-weight: bold;
}

#search-name {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
}